@import '../../assets/scss/variables-generales.scss';

.insertar-contenidos-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  padding: 1rem;

  .acordeon-contenidos {
    margin-bottom: 4px;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
  }

  .accordion-item {
    border-radius: 12px;
    overflow: hidden;
  
    .accordion-header-custom {
      border-radius: 12px; // default cuando está colapsado
  
      .accordion-button:not(.collapsed) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  
    .accordion-body {
      border-radius: 0 0 12px 12px;
      background-color: white;
      padding: 1rem;
    }
  }

  .accordion-header-custom {
    background-color: $color-boton-principal;
    color: white !important;
    border: none;
    font-weight: bold;
    border-radius: 12px;
  }

  .accordion-button {
    color: white !important;
    background-color: $color-boton-principal !important;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    justify-content: space-between;

    &::after {
      margin-left: 1rem;
      transform: translateX(10px);
    }
  }

  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
  }

  .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 11.354a.5.5 0 0 0 .708 0L8 5.707l5.646 5.647a.5.5 0 0 0 .708-.708l-6-6a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 0 .708z'/%3E%3C/svg%3E") !important;
  }

  // Responsive


  @media (max-width: 480px) {
    .acordeon-contenidos {
      width: 500px; // Ocupa todo el ancho disponible
    }
  
    .accordion-button {
      font-size: 1rem; // Igualamos al tamaño estándar
      width: 100%; // Asegura que ocupe todo el ancho
  
      &::after {
        transform: translateX(5px);
      }
    }
  
    .accordion-header-custom {
      font-size: 1rem;
    }
  
    // Botón "Guardar Colección"
    .boton-guardar-coleccion {
      font-size: 1rem;
      padding: 0.9rem 1.2rem;
      width: 100%;
      text-align: center;
      border-radius: 8px;
    }
  }

}

